/* CSS Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    text-align: center;
}

/* html {
    position: relative;
    min-height: 100%;
} */

body {
    background-color: #c5c3c6;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #4c5c68;
    border-bottom: 2px solid black;
    color: #b0e4db;
    font-size: 3rem;
    font-weight: bold;
    padding: 1.5rem;
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#message {
    font-size: 2rem;
    padding: 2rem;
}

#gameboard {
    width: clamp(306px, 50%, 456px);
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.field {
    align-items: center;
    aspect-ratio: 1 / 1;
    background-color: #ededee;
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    font-size: 4rem;
    font-weight: bold;
    justify-content: center;
}

.field:hover {
    background-color: #d8e4e9;
}

button {
    background-color: #4c5c68;
    border: 2px solid black;
    border-radius: 0.5rem;
    color: #b0e4db;
    cursor: pointer;
    font-size: 2rem;
    margin: 1.5rem;
    padding: 0.5rem 1.25rem;
}

button:hover {
    filter: brightness(90%);
}

footer {
    padding: 1rem;
}